doctype html
html
  head
    title= title
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  style(type='text/css').
    body{background-color:#fff}
  body
    block content
